<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Teapoy</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" style="background-color: #0D0C11;" id="offcanvas_aside">
        <div class="aside-top">
            <a href="" class="brand-wrap">
                <img src="/logo-22.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link text-white" href="/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/customer"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link text-white" href="/category"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/order"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>
                
                <li class="menu-item">
                    <a class="menu-link text-white" href="/coupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link text-white" href="/offer"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Offer</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/salesReport"> <i
                            class="icon material-icons md-insert_chart_outlined"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link text-white" href="/bestSelling"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Best Selling</span>
                    </a>
                    <div class="submenu">
                        <a href="/bestCategory">Category</a>
                        <a href="/bestProduct">Product</a>
                        <a href="/bestBrand" >Brand</a>
                    </div>
                </li>
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header style="background-color: #0D0C11;" class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <a class="dropdown-item text-danger" href="/admin-logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Categories </h2>
                    <p>Add, edit or delete a category</p>
                </div>
                <div>
                    <a href="/add-category" class="btn btn-dark add">Add Category</a>
                </div>
            </div>
            <div  style="background-color: #0D0C11;" class="card">
         
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-white">
                                    <th style="width: 20%;">Category</th>
                                    <th style="width: 50%;">Description</th>
                                    <th style="width: 15%;">Status</th>
                                    <th style="width: 15%;">Action</th>
                                   
                                </tr>
                            </thead>
                            <tbody class="text-white">
                                <% data.forEach(data=> {%>
                                <tr>
                                    
                                    <td><%= data.category %></td>
                                    <td><%= data.description %></td>
                                    <td>
                                        <% if(data.isListed){ %>
                                            <span class="badge rounded-pill alert-success">Listed</span>
                                        <% }else{ %>
                                            <span class="badge rounded-pill alert-danger">Unlisted</span>
                                        <% } %>        
                                    </td>
                                    <td>
                                        <a class="btn btn-outline-warning btn-sm" href="/edit-category/<%= data._id %>">Edit</a> 
                                        <% if(data.isListed){ %>
                                            <form action="/unlist-category/<%= data._id %>" method="post">
                                                <button type="submit" class="btn btn-outline-warning btn-sm">Unlist</button>
                                            </form>
                                           <% }else{ %>
                                            <form action="/list-category/<%= data._id %>" method="post">
                                                <button type="submit" class="btn btn-outline-warning btn-sm" href="">List</button> 
                                            </form>
                                            <% } %>
                                    </td> 
                                    
                                </tr>
                                <% }) %>


                            </tbody>
                        </table> <!-- table-responsive.// -->
                    </div>
                </div> <!-- card-body end// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>    
                    document.write(new Date().getFullYear())
                    </script> ©, Teapoy - Ecommerce  .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
  

<%- include('footer.ejs') %>
