<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Teapoy</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <!-- Template CSS -->
    <link href="http://localhost:4444/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" style="background-color: #0D0C11;" id="offcanvas_aside">
        <div class="aside-top">
            <a href="" class="brand-wrap">
                <img src="http://localhost:4444/logo-22.svg" class="logo" alt="">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link text-white" href="/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/customer"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/category"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link text-white" href="/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="#"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link text-white" href="#"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                </li>
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>

    <main class="main-wrap">
        <header style="background-color: #0D0C11;" class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <a class="dropdown-item text-danger" href="/admin-logout"><i class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
        </header>
        <section class="content-main">
            <div class="row">
                <form action="/edit-product/<%= data._id %>" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Edit Product</h2>
                            <p style="color: red;"><%= threeImage %></p>
                            <div>
                                <button type="submit" class="btn btn-md rounded font-sm hover-up btn-dark">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4 class="text-white">Info</h4>
                            </div>
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Product title</label>
                                    <input name="product_title" style="background-color: #0D0C11; color: white;" type="text" placeholder="Type here" class="form-control" value="<%= data.title %>" id="product_name">
                                    <span id="productNameError" class="error-message"></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full description</label>
                                    <textarea id="product_description" name="product_description" style="background-color: #0D0C11; color: white;" placeholder="Type here" class="form-control" rows="4"><%= data.description %></textarea>
                                    <span id="productDescriptionError" class="error-message"></span>
                                </div>
                                <div class="row">
                                    <div class="mb-4">
                                        <label class="form-label">Price</label>
                                        <input name="product_price" style="background-color: #0D0C11; color: white;" type="text" placeholder="₹" class="form-control" id="product_price" value="<%= data.price %>">
                                        <span id="productPriceError" class="error-message"></span>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-label">Category</label>
                                        <select name="product_category" style="background-color: #0D0C11; color: white;" class="form-select">
                                            <% category.forEach(data => { %>
                                                <option value="<%= data._id %>" <%= data._id.equals(data.product_category) ? 'selected' : '' %>><%= data.category %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-label">Brand</label>
                                        <select name="product_brand" style="background-color: #0D0C11; color: white;" class="form-select">
                                            <% brand.forEach(data => { %>
                                                <option value="<%= data._id %>" <%= data._id.equals(data.product_brand) ? 'selected' : '' %>><%= data.brand %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label class="form-label">Stock</label>
                                        <input id="product_stock" name="product_stock" style="background-color: #0D0C11; color: white;" type="number" placeholder="stock" class="form-control" value="<%= data.stock %>">
                                        <span id="productStockError" class="error-message"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4 class="text-white">Media</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <img src="/uploads/<%= data.images[0] %>" alt="">
                                    <input id="product_image" accept="image/*" name="image" class="form-control" type="file" multiple>
                                    <span id="productImageError" class="error-message"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <style>
        .error-message {
            color: red;
            font-size: 0.875em;
        }
    </style>

    <script>
        function validateForm() {
            document.getElementById('productNameError').innerText = "";
            document.getElementById('productDescriptionError').innerText = "";
            document.getElementById('productPriceError').innerText = "";
            document.getElementById('productStockError').innerText = "";
            document.getElementById('productImageError').innerText = "";
    
            const product_name = document.getElementById('product_name').value.trim();
            const product_description = document.getElementById('product_description').value.trim();
            const product_price = document.getElementById('product_price').value.trim();
            const product_stock = document.getElementById('product_stock').value.trim();
            const product_image = document.querySelector('input[name="image"]').files;
    
            let isValid = true;
    
            if (product_name === "") {
                document.getElementById('productNameError').innerText = "Product title is required.";
                isValid = false;
            }
    
            if (product_description === "") {
                document.getElementById('productDescriptionError').innerText = "Product description is required.";
                isValid = false;
            }
    
            if (isNaN(product_price) || product_price <= 0) {
                document.getElementById('productPriceError').innerText = "Enter a valid price.";
                isValid = false;
            }
    
            if (isNaN(product_stock) || product_stock <= 0) {
                document.getElementById('productStockError').innerText = "Stock must be positive.";
                isValid = false;
            }
    
            
    
            return isValid; 
        }
    </script>

    <%- include('footer.ejs') %>