<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->

<head>
    <meta charset="utf-8">
    <title>Teapoy</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="">
    <!-- Template CSS -->
    <link href="assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" style="background-color: #0D0C11;" id="offcanvas_aside">
        <div class="aside-top">
            <a href="" class="brand-wrap">
                <img src="logo-22.svg" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link text-white" href="/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/customer"> <i class="icon material-icons md-store"></i>
                        <span class="text">Users</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/brand"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/category"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Categories</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link text-white" href="/order"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link text-white" href="/coupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Coupon</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link text-white" href="/offer"> <i
                            class="icon material-icons md-monetization_on"></i>
                        <span class="text">Offer</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link text-white" href="/salesReport"> <i
                            class="icon material-icons md-insert_chart_outlined"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link text-white" href="/bestSelling"> <i
                            class="icon material-icons md-monetization_on"></i>
                        <span class="text">Best Selling</span>
                    </a>
                    <div class="submenu">
                        <a href="/bestCategory">Category</a>
                        <a href="/bestProduct">Product</a>
                        <a href="/bestBrand">Brand</a>
                    </div>
                </li>
            </ul>
            <hr>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header style="background-color: #0D0C11;" class="main-header navbar">
            <div class="col-search">
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <a class="dropdown-item text-danger" href="/admin-logout"><i
                        class="material-icons md-exit_to_app"></i>Logout</a>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-4 col-md-6 me-auto">
                            <input style="background-color: #0D0C11; color: white;" type="text" placeholder="Search..."
                                class="form-control">
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Disabled</option>
                                <option>Show all</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show 20</option>
                                <option>Show 30</option>
                                <option>Show 40</option>
                            </select>
                        </div>
                    </div>
                </header> <!-- card-header end// -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead style="background-color: #0D0C11; color: white;">
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody style="background-color: #0D0C11; color: white;">
                                <% orders.forEach( order=> { %>
                                    <tr>
                                        <td>0901</td>
                                        <td><b>
                                                <%= order.billingDetails.name %>
                                            </b></td>
                                        <td>
                                            <%= order.billingDetails.email %>
                                        </td>

                                        <td>
                                            <%= order.totalPrice %>
                                        </td>
                                        <td>
                                            <span class="badge rounded-pill alert-<%= 
                                            order.status === 'Pending' ? 'warning' : 
                                            order.status === 'Shipped' || order.status === 'Delivered' ? 'success' : 
                                            order.status === 'Cancelled' ? 'danger' : 'primary' 
                                        %> text-<%= 
                                            order.status === 'Pending' ? 'warning' : 
                                            order.status === 'Shipped' || order.status === 'Delivered' ? 'success' : 
                                            order.status === 'Cancelled' ? 'danger' : 'primary' 
                                        %>">
                                            
                                                <%= order.status %>
                                                
                                            </span>

                                            <% if (order.paymentStatus === 'Failed') { %>
                                                <span class="badge rounded-pill alert-danger text-danger">
                                                  Payment Failed 
                                                </span>
                                              <% }else if(order.returnStatus==='Pending'){ %>
                                                <p style="color: red;">Return requested</p>
                                                <% } %>
                                        </td>
                                        <td>
                                            <%= order.orderDate.toLocaleDateString('en-IN') %>
                                        </td>
                                        <td class="text-end">
                                            <a href="/adminOrderDetails/<%= order._id %>"
                                                class="btn btn-md rounded font-sm">Details</a>
                                            <% if (order.status=="Pending" || order.status=="Shipped" ) { %>
                                                <a href="#" onclick="confirmCancleOrder('<%=order._id %>')"
                                                    class="btn btn-md rounded font-sm">Cancel</a>
                                                <% } %>
                                                    <!-- <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown"
                                                    class="btn btn-light rounded btn-sm font-sm"> <i
                                                        class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div> -->
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive //end -->
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination">
                <% for (let i=1; i <=totalPages; i++) { %>
                    <a href="?page=<%= i %>" class="page-link <%= currentPage === i ? 'active' : '' %>">
                        <%= i %>
                    </a>
                    <% } %>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false"
                        src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                    <script>
                        document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <style>
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            gap: 8px;
        }

        .page-link {
            display: inline-block;
            padding: 8px 12px;
            background-color: #f0f0f0;
            color: #333;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .page-link.active {
            background-color: #1b1b1b;
            color: white;
        }

        .page-link:hover {
            background-color: #575656;
            color: #333;
        }

        @media (max-width: 600px) {
            .page-link {
                padding: 6px 10px;
                font-size: 0.9em;
            }
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmCancleOrder(orderId) {
            Swal.fire({
                title: "Are you sure?",
                text: "You want to Cancle this order?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, cancel it!",
            }).then((result) => {
                if (result.isConfirmed) {

                    window.location.href = "/adminOrderCancel/" + orderId;
                }
            });
        }
    </script>

    <%- include('footer.ejs') %>