<%- include('header.ejs') %>



    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Cart
                    <!-- <span></span>  -->
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <% if(cartItems.length===0){ %>
                    <p>Your cart is empty</p>
                    <a class="btn " href="/home"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                    <% }else{ %>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table shopping-summery text-center clean">
                                        <thead>
                                            <tr class="main-heading">
                                                <th scope="col">Image</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Subtotal</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cartItems.forEach(item=> { %>

                                                <tr class="cart-item" data-id="<%= item.product._id %>"
                                                    data-is-published="<%= item.product.isPublished %>">
                                                    <td class="image product-thumbnail">
                                                        <img src="/uploads/<%= item.product.images[0] %>" alt="#">
                                                    </td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name">
                                                            <a href="shop-product-right.html">
                                                                <%= item.product.title %>
                                                            </a>
                                                        </h5>
                                                    </td>
                                                    <td class="price" data-title="Price">
                                                        <span>
                                                            <%= item.price %>
                                                        </span>
                                                    </td>
                                                    <td class="text-center" data-title="Stock">
                                                        <div class="pro-qty-2" style="display: flex;">
                                                            <button style="border: none; background-color: white;" class="qty-down"
                                                                data-id="<%= item.product._id %>"><i
                                                                    class="fa fa-minus"></i></button>
                                                            <input
                                                                style="width: 20px; text-align: center; padding-left: 0;"
                                                                type="text" value="<%= item.quantity %>"
                                                                data-id="<%= item.product._id %>">
                                                            <button style="border: none; background-color: white;" class="qty-up" data-id="<%= item.product._id %>"><i
                                                                    class="fa fa-plus"></i></button>
                                                        </div>
                                                    </td>
                                                    <td class="cart__price text-right" data-id="<%= item.product._id %>"
                                                        data-title="Cart">
                                                        <span>
                                                            <%= item.price * item.quantity %>
                                                        </span>
                                                    </td>
                                                    <td class="action" data-title="Remove"><a href="#"
                                                            onclick="removeFromCart('<%= item.product._id %>')"
                                                            class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                                </tr>

                                                <% }) %>

                                                    <tr>

                                                    </tr>
                                        </tbody>

                                    </table>
                                </div>
                                <div class="cart-action text-end">
                                    <a class="btn  mr-10 mb-sm-15" href="/home/cart"><i
                                            class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                                    <a class="btn" href="/home"><i class="fi-rs-shopping-bag mr-10"></i>Continue
                                        Shopping</a>
                                </div>
                                <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                                <div class="row mb-50">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="heading_s1 mb-3">
                                            <h4>Calculate Shipping</h4>
                                        </div>
                                        <p class="mt-15 mb-30">Flat rate: <span
                                                class="font-xl text-brand fw-900">5%</span></p>
                                        <form class="field_form shipping_calculator">
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <div class="custom_select">
                                                        <select class="form-control select-active">
                                                            <option value="">Choose a option...</option>
                                                            <option value="AX">Aland Islands</option>
                                                            <option value="AF">Afghanistan</option>
                                                            <option value="AL">Albania</option>
                                                            <option value="DZ">Algeria</option>
                                                            <option value="AD">Andorra</option>
                                                            <option value="AO">Angola</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row row">
                                                <div class="form-group col-lg-6">
                                                    <input required="required" placeholder="State / Country" name="name"
                                                        type="text">
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <input required="required" placeholder="PostCode / ZIP" name="name"
                                                        type="text">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-lg-12">
                                                    <button class="btn  btn-sm"><i
                                                            class="fi-rs-shuffle mr-10"></i>Update</button>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="mb-30 mt-50">
                                            <div class="heading_s1 mb-3">
                                                <h4>Apply Coupon</h4>
                                            </div>
                                            <div class="total-amount">
                                                <div class="left">
                                                    <div class="coupon">
                                                        <form action="#" target="_blank">
                                                            <div class="form-row row justify-content-center">
                                                                <div class="form-group col-lg-6">
                                                                    <input class="font-medium" name="Coupon"
                                                                        placeholder="Enter Your Coupon">
                                                                </div>
                                                                <div class="form-group col-lg-6">
                                                                    <button class="btn  btn-sm"><i
                                                                            class="fi-rs-label mr-10"></i>Apply</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="border p-md-4 p-30 border-radius cart-totals">
                                            <div class="heading_s1 mb-3">
                                                <h4>Cart Totals</h4>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <td class="cart_total_label">Cart Subtotal</td>
                                                            <td class="cart_total_amount"><span
                                                                    class="font-lg fw-900 text-brand" id="total-price">
                                                                    ₹<%=cart.totalPrice %>
                                                                </span>


                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="cart_total_label">Shipping</td>
                                                            <td class="cart_total_amount"> <i class="ti-gift mr-5"></i>
                                                                Free Shipping</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="cart_total_label">Total</td>
                                                            <td class="cart_total_amount"><strong><span
                                                                        class="font-xl fw-900 text-brand">
                                                                        ₹<%= cart.totalPrice %>
                                                                    </span></strong>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <a href="/home/cart/checkout" class="btn "> <i
                                                    class="fi-rs-box-alt mr-10"></i> Proceed To
                                                CheckOut</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
            </div>
        </section>
    </main>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        /// remove cart item
        async function removeFromCart(productId) {
            event.preventDefault();

            try {
                const response = await fetch(`/home/cart/removeItem/${productId}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                const result = await response.json();

                if (!response.ok) {
                    throw new Error(result.message || 'Error removing product from the cart');
                }

                Swal.fire({
                    icon: 'success',
                    title: 'Removed',
                    text: result.message,
                    timer: 2000,
                    showConfirmButton: false
                }).then(() => {
                    window.location.reload();
                });

                const productRow = document.querySelector(`#product-row-${productId}`);
                if (productRow) {
                    productRow.remove();
                }

                updateTotalPrice();

            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: error.message || 'There was an error removing the product from the cart.'
                });
            }
        }

        function updateTotalPrice() {
            let totalPrice = 0;
            document.querySelectorAll('.price-row').forEach(row => {
                const price = parseFloat(row.dataset.price);
                const quantity = parseInt(row.dataset.quantity);
                totalPrice += price * quantity;
            });

            document.getElementById('total-price').innerText = totalPrice.toFixed(2);
        }



        // Apply coupon
        // document.getElementById('couponForm').addEventListener('submit', function (e) {
        //     e.preventDefault(); // Prevent form submission

        //     const couponCode = document.getElementById('availableCoupons').value; // Get selected coupon code

        //     if (!couponCode) {
        //         swal.fire({
        //             icon: 'warning',
        //             title: 'No Coupon Selected',
        //             text: 'Please select a coupon before applying.',
        //         });
        //         return;
        //     }

        //     // Send coupon code to the server via AJAX
        //     fetch('/home/cart/apply-coupon', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //         },
        //         body: JSON.stringify({ couponCode: couponCode }), // Send couponCode in request body
        //     })
        //         .then(response => response.json())
        //         .then(data => {
        //             if (data.success) {
        //                 // Update the total price and display success message
        //                 swal.fire({
        //                     icon: 'success',
        //                     title: 'Coupon Applied',
        //                     text: 'The coupon has been applied successfully.',
        //                 }).then(() => {
        //                     // Reload the page to reflect the updated total
        //                     window.location.reload();
        //                 });
        //             } else {
        //                 // Show error message if coupon application fails
        //                 swal.fire({
        //                     icon: 'error',
        //                     title: 'Error',
        //                     text: data.message || 'An error occurred while applying the coupon.',
        //                 });
        //             }
        //         })
        //         .catch(error => {
        //             // Log and show error message
        //             console.error('Error in applying coupon:', error);
        //             swal.fire({
        //                 icon: 'error',
        //                 title: 'Error',
        //                 text: 'An error occurred while applying the coupon.',
        //             });
        //         });
        // });

        // document.getElementById('removeCouponBtn').addEventListener('click', function () {
        //     // Send request to remove the coupon
        //     fetch('/home/cart/remove-coupon', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //         },
        //     })
        //         .then(response => response.json())
        //         .then(data => {
        //             if (data.success) {
        //                 // Success: reload the page to reflect the updated totals
        //                 swal.fire({
        //                     icon: 'success',
        //                     title: 'Coupon Removed',
        //                     text: 'The coupon has been removed successfully.',
        //                 }).then(() => {
        //                     window.location.reload();
        //                 });
        //             } else {
        //                 // Error: show error message
        //                 swal.fire({
        //                     icon: 'error',
        //                     title: 'Error',
        //                     text: data.message || 'An error occurred while removing the coupon.',
        //                 });
        //             }
        //         })
        //         .catch(error => {
        //             // Log and show error message
        //             console.error('Error in removing coupon:', error);
        //             swal.fire({
        //                 icon: 'error',
        //                 title: 'Error',
        //                 text: 'An error occurred while removing the coupon.',
        //             });
        //         });
        // });
    </script>

    <!-- quantity updation -->
    <script>
        $(document).ready(function () {
            $(".qty-up, .qty-down").on("click", function (e) {
                // console.log("working");
                e.preventDefault();
                var productId = $(this).data("id");
                var action = $(this).hasClass("qty-down") ? "decrement" : "increment";

                $.ajax({
                    url: "/home/cart/updateQuantity/" + productId + "/" + action,
                    type: "POST", 
                    success: function (response) {
                        console.log("Server response:", response);
                        if (response.success) {
                            var $qtyInput = $("input[data-id='" + productId + "']");
                            var $price = $(".cart__price[data-id='" + productId + "'] span");
                            var $total = $(".cart_total_amount span");

                            $qtyInput.val(response.quantity);
                            $price.text(response.price * response.quantity);
                            $total.text(response.totalPrice);

                        } else if (response.message == "Maximum quantity reached for this product") {
                            Swal.fire({
                                title: "Maximum Quantity Reached",

                                icon: "warning"
                            });

                        }
                    },
                    error: function () {
                        console.error("Error in AJAX request.");
                    },
                });
            });
        });
    </script>


    <%- include('footer.ejs') %>