<%- include('header.ejs') %>


    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand">
                                        <%= products.length %>
                                    </strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps"></i>Show:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="active" href="#">50</a></li>
                                            <li><a href="#">100</a></li>
                                            <li><a href="#">150</a></li>
                                            <li><a href="#">200</a></li>
                                            <li><a href="#">All</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span>
                                                <% switch(sortOption) { case 'priceAsc' : %> Price: Low to High <%
                                                        break; %>
                                                        <% case 'priceDesc' : %> Price: High to Low <% break; %>
                                                                <% case 'nameAsc' : %> Name: A to Z <% break; %>
                                                                        <% case 'nameDesc' : %> Name: Z to A <% break;
                                                                                %>
                                                                                <% default: %> Featured <% } %>
                                                                                        <i
                                                                                            class="fi-rs-angle-small-down"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a href="/home/shop?sort=featured"
                                                    class="<%= sortOption === 'featured' ? 'active' : '' %>">Featured</a>
                                            </li>
                                            <li><a href="/home/shop?sort=priceAsc"
                                                    class="<%= sortOption === 'priceAsc' ? 'active' : '' %>">Price: Low
                                                    to High</a></li>
                                            <li><a href="/home/shop?sort=priceDesc"
                                                    class="<%= sortOption === 'priceDesc' ? 'active' : '' %>">Price:
                                                    High to Low</a></li>
                                            <li><a href="/home/shop?sort=nameAsc"
                                                    class="<%= sortOption === 'nameAsc' ? 'active' : '' %>">Name: A to
                                                    Z</a></li>
                                            <li><a href="/home/shop?sort=nameDesc"
                                                    class="<%= sortOption === 'nameDesc' ? 'active' : '' %>">Name: Z to
                                                    A</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">
                            <% if(products.length===0){ %>
                                <h3>No products found for this category</h3>
                                <% }else{ %>
                                    <% products.forEach ( product=> { %>
                                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                            <div class="product-cart-wrap mb-30">
                                                <div class="product-img-action-wrap">
                                                    <div class="product-img product-img-zoom">
                                                        <a href="/product-details/<%= product._id %>">
                                                            <img class="default-img"
                                                                src="/uploads/<%= product.images[0] %>" alt="">
                                                            <img class="hover-img"
                                                                src="/uploads/<%= product.images[1] %>" alt="">
                                                        </a>
                                                    </div>

                                                </div>
                                                <div class="product-content-wrap">
                                                    <div class="product-category">
                                                        <a href="#">Category : <%= product.category.category %></a>
                                                    </div>
                                                    <h2><a href="/product-details/<%= product._id %>">
                                                            <%= product.title %>
                                                        </a></h2>
                                                    <div class="rating-result" title="90%">
                                                        <span>
                                                            <span>90%</span>
                                                        </span>
                                                    </div>
                                                    <div class="product-price">
                                                        <% if(!product.isDiscounted){ %>
                                                            <span>₹<%= product.price %></span>
                                                            <% }else{ %>
                                                                <span>₹<%= product.offerPrice %></span>
                                                                <span class="old-price">₹<%= product.price %></span>
                                                                <% } %>
                                                    </div>
                                                    <div class="product-action-1 show">
                                                        <% if(product.stock==0){ %>
                                                            <p style="color: red;">Out of stock</p>
                                                            <% }else{ %>
                                                                <a aria-label="Add To Cart"
                                                                    onclick="addToCart('<%= product._id %>')"
                                                                    class="action-btn hover-up" href="#"><i
                                                                        class="fi-rs-shopping-bag-add"></i></a>
                                                                <% } %>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } %>


                        </div>
                        <!--pagination-->
                        
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <!-- <div class="row">
                            <div class="col-lg-12 col-mg-6"></div>
                            <div class="col-lg-12 col-mg-6"></div>
                        </div> -->
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <li><a href="/home/shop">All</a></li>
                                <% categories.forEach(category=>{ %>
                                    <li> <a href="/home/shop/category/<%= category.category %>?sort=<%= sortOption %>"
                                            class="<%= selectedCategory === category.category ? 'active' : '' %>">
                                            <%= category.category %>
                                        </a></li>
                                    <% }) %>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- Sorting -->
    <script>
        document.querySelectorAll('.sort-link').forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();

                const sortValue = this.getAttribute('href');

                const currentUrl = new URL(window.location.href);
                const params = new URLSearchParams(currentUrl.search);

                params.set('sort', sortValue);

                window.location.href = currentUrl.pathname + '?' + params.toString();
            });
        });

        const buildSortLink = (sortType) => `/home/shop?sort=${sortType}`;
    </script>


    <!-- add to cart -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        async function addToCart(productId) {
            event.preventDefault();

            try {
                const response = await fetch('/home/addToCart', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        productId: productId,
                        quantity: 1
                    })
                });

                const result = await response.json();

                if (!response.ok) {
                    // Check if the error is related to maximum quantity
                    if (result.message === "Maximum quantity of 5 reached for this product") {
                        Swal.fire({
                            icon: 'warning',
                            title: 'Maximum Quantity Reached',
                            text: 'You can only add a maximum of 5 units of this product.',
                            timer: 3000,
                            showConfirmButton: false
                        });
                    } else {
                        throw new Error(result.message || 'Failed to add product to cart');
                    }
                    return;
                }

                // If product added successfully, show success message
                Swal.fire({
                    icon: 'success',
                    title: 'Added to Cart',
                    text: result.message,
                    timer: 2000,
                    showConfirmButton: false
                });
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: error.message || 'There was an error adding the product to the cart.'
                });
            }
        }


        // function addToCart(productId) {
        //     fetch('/home/addToCart', {
        //         method: 'POST',
        //         headers: {
        //             'Content-Type': 'application/json',
        //         },
        //         body: JSON.stringify({ productId: productId })
        //     })
        //         .then(response => response.json())
        //         .then(data => {
        //             if (data.success) {
        //                 Swal.fire({
        //                     icon: 'success',
        //                     title: 'Added to cart!',
        //                     text: data.message,
        //                     timer: 1500,
        //                     showConfirmButton: false
        //                 });
        //             } else {
        //                 Swal.fire({
        //                     icon: 'error',
        //                     title: 'Limit Reached',
        //                     text: data.message,
        //                 });
        //             }
        //         })
        //         .catch(error => {
        //             console.error('Error:', error);
        //             Swal.fire({
        //                 icon: 'error',
        //                 title: 'Error!',
        //                 text: 'Something went wrong. Please try again.',
        //             });
        //         });
        // }

    </script>


    <%- include('footer.ejs') %>